body{
  background-color: black;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.Produit{
  background-color: rgb(255, 255, 255);
  width: 200px;
  margin: 15px auto;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
}

.Produit img{
  width: 150px;
  height: 150px;
}

.Produits{
  display: flex;
  flex-wrap: wrap;
}

.voir{
  background-color: black;
  border: 3px solid white;
  color: white;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: ease-in-out 0.5s;
}


.voir:hover {
  transform: scale(120%);
}

